#! /usr/bin/env bash
source_up_if_exists

# export TOFU_DIR=$(nix build $FLAKE#repl.home.config.lib.pspkgs.opentofu --impure --no-link --print-out-paths)
export TOFU_DIR="$(dirname $(dirname $(readlink $(which tofu))))"
PLUGIN_DIR="$TOFU_DIR/libexec/terraform-providers/"

export TF_PLUGIN_CACHE_MAY_BREAK_DEPENDENCY_LOCK_FILE=1
export TF_PLUGIN_CACHE_DIR=$PLUGIN_DIR

export TERRAGRUNT_PROVIDER_CACHE_DIR=$PLUGIN_DIR
export TF_CLI_CONFIG_FILE=$PWD/best.tfrc
