#! /usr/bin/env bash

# We need $FLAKE for our impurity
export FLAKE=$PWD
# Save $FLAKE to a file
echo "\"$FLAKE\"" > "$FLAKE/.flakepath"

watch_file .nix

# Cache PATH from nix develop for one hour
if ! has fd || ! fd --type l --no-ignore --max-depth 1 --hidden --quiet --changed-within 1h .nix
then
  echo "Building repoenv"

  systemctl \
    is-active \
    --user \
    --quiet \
    repofarm || \
  systemd-run \
    --user \
    --quiet \
    --unit \
    repofarm \
    nix \
      build \
      "$FLAKE#repofarm" \
      --out-link \
      "$FLAKE/.nix" \
      --json || \
  true
else
  echo "Using cached repoenv"
fi

PATH_add "$FLAKE/.nix/bin"
PATH_add "$FLAKE/bin"
