#! /usr/bin/env bash

# We need $FLAKE for our impurity
export FLAKE=$PWD
# Save $FLAKE to a file
echo "\"$FLAKE\"" > "$FLAKE/.flakepath"

# Cache PATH from nix develop for one hour
if ! command -v fd &> /dev/null || ! fd --type l --no-ignore --max-depth 1 --hidden --quiet --changed-within 1h .nix
then
  echo "Building Nix env..."
  nix build .#repofarm --out-link .nix
else
  echo "Using cached Nix env :)"
fi

PATH_add "$FLAKE/.nix/bin"
PATH_add "$FLAKE/bin"
