# We need $FLAKE for our impurity
export FLAKE=$(pwd)
# Save $FLAKE to a file
echo '"'$FLAKE'"' > $FLAKE/.flakepath
# Create profile directory
mkdir -p $PWD/.nix
# Watch for changes in .nix files
#watch_file $(find . -type f -name "*.nix" -printf "%p ")
watch_file "flake.nix"
watch_file $(find ./repoenv/ -type f -name "*.nix" -printf "%p ")
# Add profile to PATH
PATH_add $(nix develop --profile $PWD/.nix/profile -c sh -c 'echo $PATH')
PATH_add $FLAKE/bin
