#! /usr/bin/env bash
export KUBECONFIG=~/tmp/k3s.yaml
# Load .envrc upwards
source_up_if_exists .envrc
# Load private envrc where we stuff lots of secrets we don't wanna deal with atm.
source_env_if_exists .privrc
